# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Test Name: Movement 

In this test im going to see if i can make the player move from room to room 
### Data used:MutableMapOfString

I am going to use this to generally shape my map and then im going to use north, south, east and west for me to call it easily and move my player. 
I am also going to add more stuff which maybe make my game feel a bit better. I will write in this test result again after 11 days   

### Test Result

![Image1](screenshots/Image_one.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![No.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

